# Ex - GroupBy

### Introduction:

GroupBy can be summarizes as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [2]:
import pandas as pd 
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [7]:
filepath = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'
drinks = pd.DataFrame(pd.read_csv(filepath, sep = ','))

drinks.head()
drinks.set_index('continent')

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,,
AS,Afghanistan,0,0,0,0.0
EU,Albania,89,132,54,4.9
AF,Algeria,25,0,14,0.7
EU,Andorra,245,138,312,12.4
AF,Angola,217,57,45,5.9
...,...,...,...,...,...
SA,Venezuela,333,100,3,7.7
AS,Vietnam,111,2,1,2.0
AS,Yemen,6,0,0,0.1
AF,Zambia,32,19,4,2.5
AF,Zimbabwe,64,18,4,4.7

In [21]:
### Step 4. Which continent drinks more beer on average?

continent_max_beer = drinks['continent'][drinks['beer_servings'] == np.max(drinks['beer_servings'])]
print('Maximal beer servings is in ', continent_max_beer)

Maximal beer servings is in  117    AF
Name: continent, dtype: object

### Step 5. For each continent print the statistics for wine consumption.

In [62]:
all_conts = np.array(drinks.continent.drop_duplicates().dropna(axis = 0))

for cur_continent in all_conts:
    cur_wine_consumption = drinks[drinks['continent'] ==  cur_continent]['wine_servings']
    print('Current continent:', cur_continent)
    print('Wine consumption statistics:')
    print('mean:', cur_wine_consumption.mean(), ', median:', cur_wine_consumption.median())
    mean_alc_total = drinks[drinks['continent'] ==  cur_continent].drop(['country','continent'], axis = 1).mean(axis = 0)
    print('Mean alcohol consumption:')
    print(mean_alc_total)   
    print('Median alcohol consumption:')
    median_alc_total = drinks[drinks['continent'] ==  cur_continent].drop(['country','continent'], axis = 1).median(axis = 0)
    print(median_alc_total)    
    
print('Done')

Current continent: AS
Wine consumption statistics:
mean: 9.068181818181818 , median: 1.0
Mean alcohol consumption:
beer_servings                   37.045455
spirit_servings                 60.840909
wine_servings                    9.068182
total_litres_of_pure_alcohol     2.170455
dtype: float64
Median alcohol consumption:
beer_servings                   17.5
spirit_servings                 16.0
wine_servings                    1.0
total_litres_of_pure_alcohol     1.2
dtype: float64
Current continent: EU
Wine consumption statistics:
mean: 142.22222222222223 , median: 128.0
Mean alcohol consumption:
beer_servings                   193.777778
spirit_servings                 132.555556
wine_servings                   142.222222
total_litres_of_pure_alcohol      8.617778
dtype: float64
Median alcohol consumption:
beer_servings                   219.0
spirit_servings                 122.0
wine_servings                   128.0
total_litres_of_pure_alcohol     10.0
dtype: float64
Current continent: AF
Wine consumption statistics:
mean: 16.264150943396228 , median: 2.0
Mean alcohol consumption:
beer_servings                   61.471698
spirit_servings                 16.339623
wine_servings                   16.264151
total_litres_of_pure_alcohol     3.007547
dtype: float64
Median alcohol consumption:
beer_servings                   32.0
spirit_servings                  3.0
wine_servings                    2.0
total_litres_of_pure_alcohol     2.3
dtype: float64
Current continent: SA
Wine consumption statistics:
mean: 62.416666666666664 , median: 12.0
Mean alcohol consumption:
beer_servings                   175.083333
spirit_servings                 114.750000
wine_servings                    62.416667
total_litres_of_pure_alcohol      6.308333
dtype: float64
Median alcohol consumption:
beer_servings                   162.50
spirit_servings                 108.50
wine_servings                    12.00
total_litres_of_pure_alcohol      6.85
dtype: float64
Current continent: OC
Wine consumption statistics:
mean: 35.625 , median: 8.5
Mean alcohol consumption:
beer_servings                   89.68750
spirit_servings                 58.43750
wine_servings                   35.62500
total_litres_of_pure_alcohol     3.38125
dtype: float64
Median alcohol consumption:
beer_servings                   52.50
spirit_servings                 37.00
wine_servings                    8.50
total_litres_of_pure_alcohol     1.75
dtype: float64
Done

### Step 6. Print the mean alcoohol consumption per continent for every column

### Step 7. Print the median alcoohol consumption per continent for every column

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [119]:
new_df = drinks.drop(['country','continent'], axis = 1)
# create a DF to keep statistics
all_stats =  pd.DataFrame(columns=['cur_col_max', 'cur_col_min', 'cur_col_mean'])
for i in range(new_df.shape[1]):
    cur_col_max = new_df.iloc[:, i].max()
    cur_col_min = new_df.iloc[:, i].min()
    cur_col_mean = new_df.iloc[:, i].mean()
    all_stats.loc[i] = [cur_col_max, cur_col_min, cur_col_mean]
    
all_stats.index = new_df.columns
print(all_stats)

                              cur_col_max  cur_col_min  cur_col_mean
beer_servings                       376.0          0.0    106.160622
spirit_servings                     438.0          0.0     80.994819
wine_servings                       370.0          0.0     49.450777
total_litres_of_pure_alcohol         14.4          0.0      4.717098